/* google work sans font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:wght@400;700;900&family=Open+Sans:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 1.23rem;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
}

.text-description,
.text-light-grey {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main styles */
main {
    max-width: 1000px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 50%;
    padding-left: 30px;

}

.teams-img-container img {
    width: 100%;
}


.teams-content {
    padding-left: 70px;
    padding-right: 70px;
    width: 50%;


}

.teams-title {
    font-size: 2.8rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

/* feature section styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 150px;
    align-items: center;
}


.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features div {
    flex: 1;
}

.feature-img {
    transform: translateY(100px);
}

.feature-img img {

    width: 100%;
    transform: scaleY(1.5);

    object-fit: cover;
}

.ten-years-badge {
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    width: 230px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 90px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

.cards-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}


/* fact section styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.02rem;
    font-weight: 600px;
    margin-top: 5px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: -10px;
    margin: 0;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponors styls */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.sponsors-img-container img {
    width: 130px;
}

/* footer styles */
.footer {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
}

.footer h5 {
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 20px;
}

/* responsive media queries */
/* mobile view */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .teams-content,
    .facts-card-container,
    .sponsors-img-container {
        padding: 10px;
    }

    .ten-years-badge {
        position: relative;
        left: 26px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsors-img-container {
        align-items: center;
        gap: 20px;
    }

}


/* table or medium devices styles */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }

    .ten-years-badge {
        position: relative;
        left: 170px;
    }
}