/* google work sans font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:wght@400;700;900&family=Open+Sans:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 1.23rem;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
}

.text-description,
.text-light-grey {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main styles */
main {
    max-width: 840px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 50%;
    padding-left: 30px;

}

.teams-img-container img {
    width: 100%;
}


.teams-content {
    padding-left: 70px;
    padding-right: 70px;
    width: 50%;


}

.teams-title {
    font-size: 2.8rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}


/* responsive media queries */
/* mobile view */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .teams-content {
        padding: 10px;
    }

}

/* table or medium devices styles */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}